@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bodybg {
  background-color: #F7F5FB;
}

.headerul {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;


}

/*Headline Portfolio*/
.headline {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  color: #000000;
  margin-top: 15px;
}

.header {
  background-color: #1d1d1d;
}

.homeheader {
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  color: #000000;
}


.links {
  text-align: center;
  font-size: 20px;
}

.links a {
  text-decoration: none;
  color: inherit;

}

.links p {
  padding: 0px 50px;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;

}

img {
  max-width: 100%;
  height: auto;
}

.area {
  border-style: groove;
}

/* Basic text of the website*/

.text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: justify;
}

.projecttitle {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
}

.col {
  margin-top: 5px;
}

footer {
  list-style-type: none;
  border-top: 1px solid black;
  color: black;
  clear: both;
  position: relative;
  height: 25px;
  bottom: 0;

}

.programmlogo {
  float: left;
}

.source {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.sourceheader {
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  font-weight: 500;

}

.sourcetext{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.aboutmeheader {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;

}


.aboutmeheader2 { 
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;

}

.skills {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projectdesign {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  color: black;
}

footer{
  font-family: "Roboto", sans-serif;
  
}
.projectlinks {
  text-decoration: none;
  color: inherit;

}