body {
   height: 100%;
   margin: 0;
   background-image:linear-gradient(#2497e4,#6DD5FA);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.title{
   text-align: center;
   color: white;
   font-size: 300%;
}

.navbar {
   display: flex;
   flex-wrap: wrap;
 }
  
  
.navitem{
   padding: 1%;
   flex: 15%;
}

 h1{
    text-align: center;
    font-size: 500%;
 }

 h2{
    text-align: center;
    font-size: 300%;
 }
