/* Definiere alle verwendeten Fonts */
/* font converted using font-converter.net. thank you! */

@font-face 
{
    font-family: 'strongarmregular';
    src: url('./VerwendeteFonts/Strongarm/Strongarm.otf') format('otf'),
         url('./VerwendeteFonts/Strongarm/Strongarm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "supernovas";
    src: url("./VerwendeteFonts/Supernovas/Supernovas.otf") format("otf"), 
         url("./VerwendeteFonts/Supernovas/Supernovas.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

@font-face 
{
    font-family:"forma-djr-micro";
    src: url("https://use.typekit.net/af/9f9862/00000000000000003b9ae4e0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9f9862/00000000000000003b9ae4e0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9f9862/00000000000000003b9ae4e0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style:normal;
    font-weight:400;
}  

body {
    background-color: #F6F6F6;
}
h1 {
    text-align: center;
    font-family: 'strongarmregular';
}
p {
    background: white;
    font-family: "forma-djr-micro";
}
.bild {
    padding-bottom: 20%;
}
.supernovas {
    font-family: "supernovas";
    font-size: 500%;
    display: inline-block;
    padding: 10px;
}

.button {
    font-family: "forma-djr-micro";
}
